VITE_SUPABASE_URL=https://fspptnxxbaeulpywcysc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzcHB0bnh4YmFldWxweXdjeXNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyNDc2MDcsImV4cCI6MjEwNTgyMzYwN30.5tnBnd4WxFxl0Th39sDBrIZro_4MZR7ABH_IvXkKLWc